body{
    background-image: url(Background.jpg);
    background-attachment: fixed;
    background-size: 100% 100%;
    box-sizing: border-box;
    background-repeat: no-repeat;
}

.navbar-brand{
    font-size:20px;
    letter-spacing: 7px;
    font-family: algerian;
    text-shadow: 2px 2px gray;
}
#form{
    display: block;
    box-sizing: border-box;
    width: 50%;
    background-color:rgba(0, 0, 0, .6);
    margin: 100px 25% 100px 25%;
    color: white;
    font-size: 20px;
   
}
#formbtn:hover{
background-color: #333;
text-decoration: underline;
border: 2px solid #333;
display: block;
color: red;
}
@media (){
    body{
        max-width: 1350px;
    min-width: 650px;
    background-size: 100%;
}
}